In [11]:
import numpy as np
import pandas as pd

In [12]:
import warnings

warnings.filterwarnings('ignore')

In [13]:
from sklearn.datasets import load_boston

In [14]:
boston = load_boston()

boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [15]:
data = boston["data"]

In [16]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [17]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [18]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
dtypes: float64(13)
memory usage: 51.5 KB

In [19]:
target = boston["target"]

In [20]:
y = pd.DataFrame(target, columns=["price"])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=42)

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lr = LinearRegression()

In [25]:
lr.fit(X_train, y_train)

LinearRegression()

In [26]:
y_pred = lr.predict(X_test)

y_pred.shape

(152, 1)

In [27]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [28]:
from sklearn.metrics import r2_score

In [29]:
r2_score (y_test, y_pred)

0.711226005748496

Задание 2

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
model = RandomForestClassifier(max_depth=12, n_estimators=1000,random_state=42)

In [32]:
y_train_new=np.array (y_train.values[:, 0], dtype=int)

In [33]:
model.fit(X_train,y_train_new)

RandomForestClassifier(max_depth=12, n_estimators=1000, random_state=42)

In [34]:
y_pred2 = model.predict(X_test)
y_pred2.shape

(152,)

In [35]:
r2_score (y_test, y_pred2)

0.8370756186213897

In [36]:
# R2 во второй модели (случайный лес) выше => работает лучше

#задание 3

In [39]:
?RandomForestRegressor

Object `RandomForestRegressor` not found.

In [40]:
sum(model.feature_importances_)

1.0

In [50]:
feature_importances= pd.DataFrame({'name':X.columns,
                                   'feature_importances': model.feature_importances_}, 
                                   columns= ['feature_importances','name'])
print(feature_importances)
feature_importances.nlargest(2,'feature_importances')

    feature_importances     name
0              0.115472     CRIM
1              0.021473       ZN
2              0.049592    INDUS
3              0.009745     CHAS
4              0.072786      NOX
5              0.137637       RM
6              0.108621      AGE
7              0.109380      DIS
8              0.032542      RAD
9              0.049919      TAX
10             0.052173  PTRATIO
11             0.097979        B
12             0.142680    LSTAT

    feature_importances   name
12             0.142680  LSTAT
5              0.137637     RM